* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.box1 {
  background-color: #f5c6d6;
  height: 100px;
  width: 100%;
  border: solid white 10px;
}

.box2 {
  background-color: #ee2e84;
  height: 100px;
  width: 24%;
  display: inline-block;
  border: solid white 10px;
}

.box3 {
  background-color: #ee2e84;
  height: 100px;
  width: 24%;
  display: inline-block;
  border: solid white 10px;
}

.box4 {
  background-color: #ee2e84;
  height: 100px;
  width: 24%;
  display: inline-block;
  border: solid white 10px;
}

.box5 {
  background-color: #ee2e84;
  height: 100px;
  width: 24%;
  display: inline-block;
  border: solid white 10px;
}

.box6 {
  background-color: #85cfd8;
  height: 100px;
  width: 48%;
  display: inline-block;
  border: solid white 10px;
}

.box7 {
  background-color: #85cfd8;
  height: 100px;
  width: 48%;
  display: inline-block;
  border: solid white 10px;
}

.box8 {
  background-color: #8dc63f;
  height: 100px;
  width: 74%;
  display: inline-block;
  border: solid white 10px;
}

.box9 {
  background-color: #e76e34;
  height: 100px;
  width: 23%;
  display: inline-block;
  border: solid white 10px;
}

@media only screen and (max-width: 768px) {
  .box1 {
    background-color: #f5c6d6;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box2 {
    background-color: #ee2e84;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box3 {
    background-color: #ee2e84;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box4 {
    background-color: #ee2e84;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box5 {
    background-color: #ee2e84;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box6 {
    background-color: #85cfd8;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box7 {
    background-color: #85cfd8;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box8 {
    background-color: #8dc63f;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }

  .box9 {
    background-color: #e76e34;
    height: 100px;
    width: 100%;
    border: solid white 1px;
  }
}
