* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .box1 {
  background-color: #f5c6d6;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box2 {
  background-color: #ee2e84;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box3 {
  background-color: #ee2e84;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box4 {
  background-color: #ee2e84;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box5 {
  background-color: #ee2e84;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box6 {
  background-color: #85cfd8;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box7 {
  background-color: #85cfd8;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box8 {
  background-color: #8dc63f;
  height: 100px;
  width: 100%;
  margin: 5px;
}

.box9 {
  background-color: #e76e34;
  height: 100px;
  width: 100%;
  margin: 5px;
} */
